APP_NAME=box

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=queueUser
RABBITMQ_PASSWORD=queueUserPassword
RABBITMQ_VHOST=QueueVhost

CLIENT_AUTH_TOKEN=tokenforboxtoauthenticateagainstforrretreivinginformation
CLIENT_ENDPOINT=http://clienttracker:8000/
