CLIENT_DB_USERNAME=clientDBuname
CLIENT_DB_PASSWORD=ClientPW
CLIENT_DB_NAME=clientDB
CLIENT_DB_TABLE_NAME=clientData
CLIENT_DB_HOST=mysql

CLIENT_ADD_TOKEN=somevaluetoauthenticateagainstyeehaaww

BOX_ENDPOINT=http://box:5000
BOX_AUTH_TOKEN=tokenforboxtoauthenticateagainstforrretreivinginformation
HOARDER_ENDPOINT=http://hoarder:3000
HOARDER_AUTH_TOKEN=tokenforhoardertoauthenticateagainstforrretreivinginformation
