CLIENT_DB_USERNAME=clientDBuname
CLIENT_DB_PASSWORD=ClientPW
CLIENT_DB_NAME=clientDB
CLIENT_DB_TABLE_NAME=clientData
CLIENT_ADD_TOKEN=somevaluetoauthenticateagainstyeehaaww
MYSQL_ROOT_PASSWORD=rootpassword
