version: "3.3"
services:
  mysql:
    build:
      context: ./MySQL_DB
    ports:
      - "6603:3306"
    env_file:
      - db.env
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 120s
      timeout: 30s
      retries: 5

  clienttracker:
    build:
      context: ./Client
    ports:
      - "8000:8000"
    volumes:
      - /srv/clientlogs:/app/LOGS
    env_file:
      - client.env
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "localhost:8000/status"]
      interval: 10s
      timeout: 30s
      retries: 5

  hoarder:
    build: Hoarder/
    ports:
      - "3000:3000"
    volumes:
      - /srv/hoarderlogs:/app/LOGS
    env_file:
      - hoarder.env
    depends_on:
      clienttracker:
        condition: service_healthy

  box:
    build: Box/
    ports:
      - "5000:5000"
    volumes:
      - /srv/boxlogs:/app/LOGS
    env_file:
      - box.env
    depends_on:
      clienttracker:
        condition: service_healthy
